[submodule "wp"]
	path = wp
	url = git@github.com:WordPress/WordPress.git
[submodule "content/themes/posticumhost"]
	path = content/themes/posticumhost
	url = ssh://git@bitbucket.org/mivor/posticum-host.git
